h1 {
    color: white;
}

.button-class {
    text-decoration: none;
    color: blue;
    text-shadow: black 2px 2px 1px;
    padding: 7px;
    display: inline-block;
    outline: outset blue 1px;
    background-color: #111;
    font-family: 'I KNOW A GHOST';
}

body {
    background-image: url('sparkles.gif');
}

@font-face {
    font-family: "I KNOW A GHOST";
    src: url("iknowaghost.ttf");
}
